body{
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: grey;
}

#fetch-button{
    margin-left:37%;
}

#dog-image-container{
    margin-left:33%;
    margin-right:33%;
    min-height: 70%;
}

#dog-image{
    border: 4px solid palevioletred;
}